<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/searchableselect/main.css" type="text/css" media="all" rel="stylesheet" />
	<script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/searchableselect/bloodhound.min.js"></script>
	<script type="text/javascript" src="/static/searchableselect/typeahead.jquery.min.js"></script>
	<script type="text/javascript" src="/static/searchableselect/main.js"></script>
    </head>
    <body>
	<form action="{{request.get_full_path}}" method="POST"> 
	    {% csrf_token %}
	    {{form.as_p}}
	    <input type="submit" value="{% if 'delete' in request.path %}Confirm Deletion{% else %}Save{% endif %}">
	</form>
    </body>
</html>
