<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "app/css/styles.css" %}">
    <title>srmxchange</title>
    <script>
	window._SRMXCHANGE_INIT_ROUTE_ = '{{route}}';
    </script>
  </head>
  <body>
      <div id="app"></div>
    <script src="{% static "app/js/bundle.js" %}"></script>
  </body>
</html>
