
body {
    font-size:140%;
    word-wrap:break-word;
}
a, .link{
    cursor:pointer;
    color:#2780e3;
}
.link:hover{
    text-decoration:underline;
}
.panel-footer{
    width:100%;
    overflow:hidden;
}
#profile-table tr td:first-child{
    font-weight:bold;
}
.label-black{
    background-color:black;
}

/*
 * for sticky footer
*/

* {
    margin: 0;
}
html, body, #app, #app>:first-child {
		      height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}  
 
/* 
 * header styles 
*/

header .btn-group .btn-default {
    background-color:inherit;
    border: none;
} 

header .btn-group.open .dropdown-toggle,
header .btn-group .dropdown-toggle,
header .btn-group>.btn:first-child,
header .open>.dropdown-toggle.btn-default,
header .btn-group.open .dropdown-toggle:active,
header .open>.dropdown-toggle.btn-default:focus,
header .open>.dropdown-toggle.btn-default:hover{ 
    background-color:inherit;
    box-shadow:none;
    padding:5px;
    margin-left:0px;
    margin-top:10px;
} 

header .btn-group .dropdown-toggle{
    color:gray;
}

header .btn-group .dropdown-toggle:hover{
    color:black;
}


/* 
 * featureNav styles 
*/ 

#FeatureNav a, #FeatureNav span{
    font-size:1.7rem;
    color: darkgreen;
    cursor: pointer;
}

#FeatureNav a:hover, #FeatureNav span:hover{
    text-decoration:none;
    color: black; 
}

#FeatureNav .glyphicon{
    margin-left:5px;
}
    

/* 
 * side-panel styles 
*/ 
@media(min-width:768px){
    .side-panel{
	float:right;
    }
}


@media(min-width:768px){
    .project-col{
	min-height:100px;
    }
}