body {
    font-size:140%;
}
/* 
 * header styles 
*/

header .btn-group .btn-default {
    background-color:inherit;
    border: none;
} 

header .btn-group.open .dropdown-toggle,
header .btn-group .dropdown-toggle,
header .btn-group>.btn:first-child,
header .open>.dropdown-toggle.btn-default,
header .btn-group.open .dropdown-toggle:active,
header .open>.dropdown-toggle.btn-default:focus,
header .open>.dropdown-toggle.btn-default:hover{ 
    background-color:inherit;
    box-shadow:none;
    padding:5px;
    margin-left:0px;
    margin-top:10px;
} 

header .btn-group .dropdown-toggle{
    color:gray;
}

header .btn-group .dropdown-toggle:hover{
    color:black;
}


/* 
 * featureNav styles 
*/ 

#FeatureNav a, #FeatureNav span{
    font-size:1.7rem;
    color: darkgreen;
    cursor: pointer;
}

#FeatureNav a:hover, #FeatureNav span:hover{
    text-decoration:none;
    color: black; 
}

#FeatureNav .glyphicon{
    margin-left:5px;
}
    
/*
 * hr styles
 */

/* Gradient transparent - color - transparent */

/* Inset, by Dan Eden */

hr.inset {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}